<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
        {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
</head>
<body>

    <div class="fixed-top">
       <!-- top-bar -->
        <div class="row top-bar"> </div>
        <div class="container-fluid">
            <!-- navbar -->
            <nav class="navbar navbar-expand-lg navbar-light">
                  <a class="navbar-brand" href="#"> Учёт товаров на складе </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" href="#section1">Операции</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#section2">Картотека</a>
                      </li>
                      <li class="nav-item dropdown arrow-top">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Что то еще
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="#">1</a></li>
                          <li><a class="dropdown-item" href="#">2</a></li>
                          <li><a class="dropdown-item" href="#">3</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
            </nav>
        </div>
    </div>

    <div class="content" id="section1" >
        <div class="container-fluid">
        <div class="row">
            <!-- 1 колонка -->
            <div class="col-lg-3 col-md-12 col-sm-12">
                <div class="form-group">
                    <form>
                        Выберите операцию:
                        <select class="form-control" id="operation_selector">
                            <option>-</option>
                            <option>Приход товара</option>
                            <option>Отчёт о реализации товара за период</option>
                            <option>Отчет по приходу товара на склад</option>
                            <option>Акт списания товара</option>
                        </select>
                        <button type="button" class="btn btn-primary" id="operation_confirm_button">Подтвердить</button>
                    </form>
                </div>
            </div>
            <!--2 колонка-->
            <div class="col-lg-9 col-md-12 col-sm-12" id="operation_print">
                <div class="form-group operation">
                    <!-- форма -->
                    <form class="operation_form col-12" action="{% url 'inputIncome' %}" method="POST">
                        {% csrf_token %}
                        <div id="product_income">
                            <select class="form-select" id="income_selector" name="income_title">
                                <option value='select'>Выберите товар</option>
                                {% for product in pr %}
                                <option> {{ product.title }} </option>
                                {% endfor %}
                                <option>Добавить новый товар...</option>
                            </select>
                        </div>
                        <div id="income_value" class="col-6">
                            <input class="form-control income_input" required type="number"
                                   name="income_price" placeholder="Количество поступившего товара">
                            <button type="submit" class="btn btn-outline-primary btn-sm col-3"
                                    id="income_confirm_button">Подтвердить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>

<script src="{% static 'main/js/script.js' %}"></script>
</body>
</html>

