{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
<div class="fixed-top lock-padding">
       <!-- top-bar -->
        <div class="top-bar" id="navbar"> </div>
        <div class="container-fluid">
            <!-- navbar -->
            <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="{% url 'homepage' %}"> Учёт товаров на складе </a>
            </nav>
        </div>
    </div>

