body {
    padding: 0;
    margin: 0;
    font-family: "Verdana";
}

a {
    text-decoration: none;
}

h1{
    margin-bottom: 25px;
}

.container-fluid{
    padding: 0 20px 0 20px;
}

#current_user{
    margin: 0 10px 0 25px;
    font-size: small;
}

.top-bar {
    background: linear-gradient(to right, #0000cc 0%, #0099ff 50%, #0000cc 100%);
    padding: 4px;
}

.navbar {
    border-bottom: 5px solid #0099ff;
    background-color: white;
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.navbar-brand{
    padding-left: 8px;
}

.navbar-collapse {
    justify-content: flex-end;
}

.content {
    position: relative;
    padding: 9em 10px 0 10px;
}

.row{
    margin-bottom: 10px;
    padding-right: 0;
}

.btn-primary {
    margin-top: 10px;
}

#operation_print{
    margin-top: 10px;
}

#operation_selector {
    margin-top: 6px;
}

.operation {
    display: none;
}

.operation_form{
    padding: 0 20px 10px 20px;
}

.input_values{
    margin-top: 10px;
    padding-left: 12px;
}

#income_value{
    display: none;
}

#new_income_value{
    display: none;
}

.confirm_button{
    margin-left: 10px;
    margin-top: 10px;
}